<!-- News Feed -->
<di class="container">
  <div class="row justify-content-center">
    <div class="col-4">

      <h1 style="font-family: 'Monoton', cursive; color: #FF7373; font-size: 4em;">StalkZone</h1>

      <div><%= image_tag("friend-zone.png") %></div>

      <%= render "post_form" %>

      <% @posts.each do |post| %>
      <div class="posted">
        <div class="content-box">
          <h4><%= link_to "#{ post.user.name.capitalize }", profiles_show_path(id: post.user_id) %></h4>
          <%= time_ago_in_words(post.created_at) %> ago.
        </div>
          <hr>
        <div class="content-box">
          <p><%= post.content %> </p>
          <% if current_user.id === post.user_id %>
            <%= link_to edit_post_path(post) do %>
              <i class="fas fa-marker"></i>
            <% end %>
            <%= link_to post_path(post), method: :delete, data: {confirm: 'are you sure?'} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
          <!-- Comment button -->
          <%= link_to post_path(post) do %>
            <i class="fa fa-comment"></i>
          <% end %>
        </div>

      </div>
      <% end %><!-- end main loop -->

    </div> <!-- end col -->
  </div> <!-- end row -->
</di><!-- end div container -->
