<!DOCTYPE html>
<html>
<head>
  <title>Stalk Zone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= posts_path %>">
      <%= image_tag("https://raw.githubusercontent.com/linh4/stalk-zone/master/app/assets/images/friend-zone.png", :class => "img-logo") %>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= profiles_show_path(:id => current_user.id) %>">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= stalk_zones_show_path %>">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-sm-2">
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
    </li>
  </ul>
  </div>
</nav>
<% end %>

<!-- FLASH MESSAGES -->
<div>
  <% flash.each do |key, value| %>
    <div>
      <%= value %>
    </div>
    <% end %>
  </div>
  <%= yield %>

</div>



</body>
</html>
